.borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.paddingLeft {
    padding-left: 15px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li{
    position:relative;
    list-style:none;
}

